
body {
  background-image: linear-gradient(to bottom right, #b3ddf2, white, #f7797d);
}

img {
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
  #calendar, #gps, #ball {
    width: 50px;
  }
  


  #whatsup-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  footer {
    text-align: center;
  }
.linebreak{
    width: auto;
    border: 15px solid #ee6e73;
}
.eventofweek {
  background: #ee6e73;
  color: whitesmoke;
  /* font-weight: bold; */
  font-size: 24px;
}

.dropdown-button {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.eventDiv {
  padding: 20px;
    position: relative; 
    height: 300px;
    width: 230px;
    float: left;
    display: block;
    z-index: 999;
    text-align: center;
  
  }


 .event-btn {
     background-color: lightseagreen;
     border-radius: 4px;
     padding: 5px;
     color: whitesmoke;
     font-weight: bold;
 }

 .imageDiv img {
     height: 100px;
     width: 100px;
 }

 .eventDiv img {
     height: 100px;
     width: 100px;
 }

 @media screen and (max-width: 640px) {
   .resBtn {
     width: 20%;
   }
   
.GoogleCalendar {
  width: 50%;
}

 }

 